In [118]:
count = int(input("몇명을 넣으시겠습니까?"))

for i in range(count):
        name = input(f"{i+1}번째 이름을 입력하세요: ") #보간법 (interpolartion)

# cnt = int(input('몇명을 넣으시겠습니까? '))
# names = []; addresses = []; genders = []; ages = []
# for i in range(cnt):
#     name = input(f'{i+1}번째 사람의 이름을 입력하세요: ')
#     address = input(f'{i+1}번째 사람의 주소를 입력하세요: ')
#     gender = input(f'{i+1}번째 사람의 성별을 입력하세요 : ')
#     age = int(input(f'{i+1}번째 사람의 나이를 입력하세요: '))
#     names.append(name)
#     addresses.append(address)
#     genders.append(gender)
#     ages.append(age)
# print()
# print('{:<10} {:<20} {:<10} {:<5}'.format('이름', '주소', '성별', '나이'))
# print('-' * 50)
# for i in range(cnt):
#     print('{:<10} {:<20} {:<10} {:>5}'.format(names[i], addresses[i], genders[i], ages[i]))

몇명을 넣으시겠습니까? 3
1번째 이름을 입력하세요:  ㅇ
2번째 이름을 입력하세요:  ㅇ
3번째 이름을 입력하세요:  ㅇ

In [16]:
t = (1,2,3) #tuple, immutable
type(t)

t1 = 1,2,3
type(t1)

t2 = 1,
type(t2)

t3 = (1)
type(t3)

int

In [12]:
v1, v2, v3 = (1,2,3) #unpacking
print(v1)
print(v2)
print(v3)

1
2
3

In [14]:
anna = "female"
david = "male"

anna, david = david, anna #swap
print(anna)
print(david)

male
female

In [22]:
T = (1,3,5,7,9)
T[0]

#T[2] = 19 error

1

In [30]:
T = (1,3,5,7,9); M = 2,4,6,8
T[1:4]
#T[1:2] = (2,3) error
T + M
M*2
N = M + (10,20)
N
7 in T
3 not in T
len(T)

5

In [48]:
T = (4,3,5,7,6,5,7,4,7,2)
T.index(7)

def normalize_unit_list(item):
    unit = item.pop()
    return unit.lower()
   

#홍길동 환자의 염증지수를 mg/l로 변환

GD_Hong = ["CRP",12.0,"mg/L"] #리스트로 쓰면 원본 데이터가 수정 가능하므로 논리적인 오류 발생.
print(GD_Hong[0], GD_Hong[1], normalize_unit_list(GD_Hong))


def normalize_unit_tuple(item):
 
    return item[2].lower()

#홍길동 환자의 염증지수를 mg/l로 변환

GD_Hong = ("CRP",12.0,"mg/L")
print(GD_Hong[0], GD_Hong[1], normalize_unit_tuple(GD_Hong))

CRP 12.0 mg/l
CRP 12.0 mg/l

In [65]:
s1 = set([1,2,3,4,5]) #s1 = {1,2,3,4,5}
s2 = set((1,2,3))
s3 = {"p","r","o","g","r","a","m","m","i","n","g"}

type(s1) #set, unordered, immutable
type(s2)
s3

#s4 = {1, "가", "성춘향", (3,3)} #리스트는 원소로 불가능 -> 리스트는 원소 변경 가능하다는 변수가 존재(unhashable)

{'a', 'g', 'i', 'm', 'n', 'o', 'p', 'r'}

In [67]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [92]:
s = set([1,2,3])
s.add(4)
s

s.add(3)
s

#s[0] error

s.update([5,6])
s

#s.add([7,8]) add로는 하나의 원소만 넣을 수 있음, 두개가 되면 리스트 덩어리를 세트에 넣으려는 시도임.
#s.update(9) update로는 원소 여러개를 집합에 추가할 때 사용 즉, update로 여러개를 넣으면 리스트로 읽지 않음 그치만 단일한 원소는 넣을 수 없음 / 업데이트 이후 가능?

s. remove(2)
s

# s.remove(7) error 없는 원소 삭제시 key error
s

s.discard(4)
s

s.discard(7) #없는 원소를 삭제하려고 하면 무시
s

s.pop()
s

{3, 5, 6}

In [100]:
s = set([1,2,3])
s.pop() #집합에서 임의의 원소를 반환하고 삭제
s

s.clear() #s를 공집합으로 만듦
s

#s.pop() 공집합에서 원소를 삭제하려고 하면 error

set()

In [112]:
A = set(["park", "kim", "lee", "na"])
B = set(["park", "choi", "cho", "gang", "na"])

#common = []

# for attendee in A:
#     if attendee in B and attendee not in common:
#         common.append(attendee)

common = A & B # 교집합 A.intersection(B)
common = A | B # 합집합 A.union(B)
common = A - B # 차집합 A.difference(B)

print("2개의 행사에 모두 참여한 사람은?")
print(common)

print(A.intersection(B))

2개의 행사에 모두 참여한 사람은?
{'kim', 'lee'}
{'park', 'na'}

In [115]:
current_medications = {"acetaminophen", "ibuprofen"}
new_prescription = {"acetaminophen", "amoxicillin"}

overlap = current_medications & new_prescription #current_medication.intersection(new_prescription)

if overlap:
    print("중복 성분 검출: ", overlap)

중복 성분 검출:  {'acetaminophen'}

In [119]:
d = {"name": "anna", "age" : 28, "gender": "woman"}
d

d1 = dict()
type(d1)

dict

In [124]:
ban = {"이름":"성춘향", "나이":17, "성별":"여성"}
item = {"고민":"변사또"}

ban["고민"] = "이몽룡"
ban

{'이름': '성춘향', '나이': 17, '성별': '여성', '고민': '이몽룡'}

In [126]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [134]:
contacts = {"kim": "010-1234-5678", "park":"010-1236-3452", "lee":"010-9342-4432"}

contacts.get("kim")
print(contacts.get("lim")) #key "lim"이 없으므로 None 반환

if contacts.get("lim") == None:
    print("010-0000-0000")

print(contacts.get("lim", "010-0000-0000")) #키가 없으면 그냥 입력된 값 출력
# print(contacts["lim"]) key "lim"이 없으므로 error

None
010-0000-0000
010-0000-0000

In [139]:
# contacts.pop('kim')
# contacts

# contacts.pop("lim")
contacts.pop("lim", "010-0000-0000")

'010-0000-0000'

In [146]:
score = 93

if score > 90:
    print("축하합니다")
    print("면허증을 교부받으세요")
else:
    print("분발하세요")

축하합니다
면허증을 교부받으세요

num = int(input("정수를 입력하세요:"))

if num < 100:
    print(f"{num}는 100보다 작습니다.")
elif num == 100:
    print(f"{num}입니다")
else:
    print(f"{num}는 100보다 큽니다.")

In [158]:
def func():
    return True

if " ":
    print("TRUE")

TRUE

In [162]:
var = int(input("숫자를 입력하세요: "))

# if var%2 == 0:
#     print(f"{var}은 짝수입니다.")
# else:
#     print(f"{var}은 홀수입니다.")
result = "홀수"
if var%2:
    result = "짝수"
print(f"{var} is {result}")

숫자를 입력하세요:  53

53 is 짝수

In [164]:
year = int(input("연도를 입력하시오: "))
if((year%4 == 0) and (year%100 != 0)) or (year%400 == 0):
    print(year,"년은 윤년입니다.")
else:
    print(year,"년은 평년입니다.")

연도를 입력하시오:  2030

2030 년은 평년입니다.

In [168]:
status = input("환자의 상태를 입력하세요 (안정/위협) :")


if status == "안정":
    hg = int(input("수축기 혈압을 입력하세요 (mmHg) : "))
    if hg < 140:
        print("정기 추적 관찰이 필요합니다.")
    else:
        print("생활습관 개선 지도가 필요합니다.")
else:
    print("즉시 의료진 진단이 필요합니다.")

환자의 상태를 입력하세요 (안정/위협) : 안정
수축기 혈압을 입력하세요 (mmHg) :  180

생활습관 개선 지도가 필요합니다.

In [170]:
score = int(input("점수를 입력하세요: "))

if score >= 90:
    print("수")
elif score >= 80:
    print("우")
elif score >= 70:
    print("미")
elif score >=60:
    print("양")
else:
    print("가")

점수를 입력하세요:  90

수

In [ ]:
num = int(input("숫자를 입력하세요: "))

if num%2==0:
    if num%3==0:
        print(f"입력하신 {num}은 2와 3으로 나눠집니다.")
    else:
        print(f"입력하신 {num}은 2로 나눠지지만 3으로 나눠지지는 않습니다.")
elif num%3==0:
    print(f"입력하신 {num}은 3으로 나눠지지만 2로 나눠지지않습니다.")
else:
    print(f"입력하신 {num}은 2와 3으로 나눠지지않습니다.")

In [1]:
proceed = True
i = 0

while proceed:
    print(f"{i+1} \tWelcome")
    i+=1
    if i >= 10:
        proceed = False

#while 어떤 조건이 만족되는 동안 반복
#for 정해진 횟수만큼 반

1 	Welcome
2 	Welcome
3 	Welcome
4 	Welcome
5 	Welcome
6 	Welcome
7 	Welcome
8 	Welcome
9 	Welcome
10 	Welcome

In [3]:
for i in "MCEA":
    print(f"{i}\tWelcome")
print("sleeeeeppppyyy")

M	Welcome
C	Welcome
E	Welcome
A	Welcome
sleeeeeppppyyy

In [ ]:
raw = input("계좌번호를 입력하세요: ")
processed = ""
for c in raw:
    if c != "-":
        processed = processed + c
print(processed)

In [10]:
number = int(input("몇 단을 외워볼까요? : "))

for i in range(1,10):
    print(f"{number}*{i}={number*(i)}")

proceed = True
i=0
while proceed:
    i+=1
    print(f"{number}*{i}={number*(i)}")
    if i>=number:
        proceed = False

몇 단을 외워볼까요? :  9

9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [19]:
for i in range(1,10):
    for j in range(1,10):
        # if j == 9:
        #     print(f"{i}*{j}={i*j}\n")
        # else:
        print(f"{i}*{j}={i*j}",end="\t")
    print() #개행

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [22]:
unknown = True
while unknown:
    password = input("암호를 입력하시오: ")
    if password == "sleep":
        unknown = False
        print("로그인 성공")
    else:
        continue

암호를 입력하시오:  sleep

로그인 성공

In [33]:
for i in range(1,10):
    # if i%2 == 0:
    if 0:
        continue
    print(f"{i}\t", end=" ")

sum = 0
for i in range(1,101):
    if i%2:
        continue
    sum += i
print("1~100까지의 짝수의 합:{}".format(sum))

1	 2	 3	 4	 5	 6	 7	 8	 9	 1~100까지의 짝수의 합:2550