In [3]:
요일 = "월화수목금토일"

In [4]:
print(요일)

월화수목금토일

In [16]:
요일[::1] #문자열 일부 추출 시에 규칙적인 순서로 추출시에 ':' 를 2개 사용하여 첫 슬라이싱으로 범위 지정, 다음에 몇번째 숫자를 가져올 지 지정
요일[0:4:2]
요일[::-2]

'일금수월'

In [22]:
letters = "미래 융합 교육원"
letters[3:6]
letters[3:6:1]

letters[-9:-7]
letters[0:2:1]
letters[:2]
letters[:2:]

'미래'

In [70]:
today = '20260102Sunny'

In [73]:
year = today[:4]
month = today[4:6]
day = today[6:8]
weather = today[8:]

In [74]:
print(year + "/" + month + "/" + day +" 날씨 : "+weather)

2026/01/02 날씨 : Sunny

In [75]:
의상 = "와이셔츠단추오멍"

In [80]:
#의상[6] = "구" #의상 = "와이셔츠단추구멍"
의상="와이셔츠단추구멍" #문자열은 부분적으로 수정할 수 없으므로 올바른 값을 다시 넣어주는게 낫다.

In [84]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [86]:
mcea = "미래 융합 교육원"

In [89]:
first  = mcea[0]+mcea[1] # mcea[0:1]

In [90]:
print(first)

미래

In [92]:
mcea.split()

['미래', '융합', '교육원']

In [103]:
msg = "Life is too short"
w1,w2,w3,w4 = msg.split()
print(w1)
word = msg.split("s")
print(word)

Life
['Life i', ' too ', 'hort']

In [97]:
number = 123

In [105]:
#number.split() #문자열에서만 쓸 수 있음

In [110]:
title = "Where do I begin to tell the story of how great a love can be?"
print(title.upper())
print(title.lower())
print(title.isupper())

WHERE DO I BEGIN TO TELL THE STORY OF HOW GREAT A LOVE CAN BE?
where do i begin to tell the story of how great a love can be?
False

In [139]:
mcea = "mirae convergence education academy"
mcea_kr = "미래 융핵 교육원"

In [138]:
mcea.swapcase()
mcea_kr = mcea_kr.replace("핵","합")
#print(mcea)

In [129]:
story = "123a"
story.isdigit()
story.isnumeric()
story.isalnum()
story.isalpha()

False

In [130]:
institute = "미래 융합 교육원"

In [134]:
institute.startswith("미래")
institute.isspace()
institute = ""
type(institute)

str

In [145]:
mcea.find("u") #존재하지 않으면 -1을 반환
#print(mcea)

20

In [148]:
mcea.count("a")
mcea.rfind("o") #찾으려는 문자열을 대상의 뒤에서부터 탐색

25

In [155]:
mcea.ljust(330)
mcea.rjust(1000)

'                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     mirae convergence education academy'

In [156]:
mcea = "      미래 융합 교육원    "

In [161]:
mcea.lstrip()
mcea.strip()
mcea.rstrip()
print(mcea) #메소드는 값의 원형을 변형하지는 않는다.

      미래 융합 교육원

In [166]:
"%s 대구 서구 단구동 %d번지" % ("대전미래융합교육원",40)

'대전미래융합교육원 대구 서구 단구동 40번지'

In [167]:
"{}의 나이는 {}세입니다.".format("성춘향",17)

'성춘향의 나이는 17세입니다.'

In [170]:
"{1}의 나이는 {0}세입니다.".format(16,"이몽룡") #format 파라미터값이 어느 위치에 들어갈지 위치 지정도 가능

'이몽룡의 나이는 16세입니다.'

In [171]:
"{name}의 나이는 {age}세입니다.".format(name="변사또",age=59) #파라미터에 변수 선언을 해서 값을 넣으면 더 정확한 위치 선정

'변사또의 나이는 59세입니다.'

In [176]:
print("{:/^12}".format('life'))
print("{:*<12}".format("life"))
print("{:*>12}".format('life'))

////life////
life********
********life

In [175]:
print("{:7.2e}".format(45.234567))
print("{:10,d}".format(45234567))
print("{:+.3f}".format(45.234678))

4.52e+01
45,234,567
+45.235

In [180]:
hyundai = 5000
samsung = 75000
kakao = 120000

In [182]:
stock = [5000, 75000, 120000]

In [179]:
print("현대 {}\t삼성 {}\t카카오 {}".format(hyundai, samsung, kakao))

현대 5000	삼성 75000	카카오 120000

In [190]:
s_string = "This is a ftring"
print(s_string)
# i_string = list(s_string)
# i_string[10] = 's'
# s_string = ''.join(i_string)
# print(s_string)

This is a ftring

In [191]:
new_message = list(s_string)
print(new_message)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 'f', 't', 'r', 'i', 'n', 'g']

In [193]:
new_message[10] = 's'
print(new_message)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [196]:
message = "-".join(new_message)
print(message)

T-h-i-s- -i-s- -a- -s-t-r-i-n-g

In [197]:
stock + [32000]

[5000, 75000, 120000, 32000]

In [202]:
list(range(1,11,3))
list(temp)

[1, 4, 7, 10]

In [207]:
A = [2026, ["금요일", "python"], "오후1시"]
A[1][1]

'python'

In [211]:
B = A[1]
B[0]
B[1]
B[1][0]
C = B[1]
C[0]

'p'

In [217]:
A = [0,1,2,3,4,5]
print("개수 :", len(A))
A[1:3] = []
print(A)
A[1::2]

개수 : 6
[0, 3, 4, 5]

[3, 5]

In [222]:
a = [0,1,2,3,4]
b = a[:]
print(b)
c=a
a[0] = 10
print(a, id(a))
print(b, id(b))
print(c, id(c))

[0, 1, 2, 3, 4]
[10, 1, 2, 3, 4] 2311891403328
[0, 1, 2, 3, 4] 2311891404096
[10, 1, 2, 3, 4] 2311891403328

In [225]:
A = [1,3,5,7,9]

3 in A
6 in A
2 not in A
5 not in A

False

In [227]:
x = [1,2,3,4]
x.append(5)
print(x)

[1, 2, 3, 4, 5]

In [229]:
x.insert(2,10)
print(x)

[1, 2, 10, 10, 3, 4, 5]

In [232]:
L = ['a','b']
x.extend(L)
print(x)

[1, 2, 10, 10, 3, 4, 5, 'a', 'b', 'a', 'b']

In [235]:
x = [1,3,5,7,1,3,5,7]
a = x.pop()
print(a,x)
b = x.pop(1)
print(b,x)

7 [1, 3, 5, 7, 1, 3, 5]
3 [1, 5, 7, 1, 3, 5]

In [242]:
a = [4,5,1,3,2]
a.sort()
print(a)
b = [1,3,5,4,2]
b.sort(reverse=True)
print(b)
c=['banana','peach','apple','orange']
c.sort()
print(c)
# d = [4,2,'banana']
# d.sort()
# print(d)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['apple', 'banana', 'orange', 'peach']

In [ ]:
L = [1,9,4]
L = sorted(L, reverse=True)
print(L)
print(sum(L))

L=["Jan","Apr","Sep"]
print(min(L),max(L))
S = sorted(L)
print(S)

# L = [1,'2',3,'4']
# print(max(L), min(L))

In [1]:
num = [int(x) for x in input("숫자 : ").split(".")]

print(int(sum(num)/len(num)))

숫자 :  5.6.8.6.5

6

In [4]:
num = int(input("몇명을 넣으시겠습니까?"))
info_list = []

for i in range(num):

    
    collect_list = []
    collect_list.append(input("{}번째 사람의 이름을 입력하세요:".format(i+1)))
    collect_list.append(input("{}번째 사람의 주소를 입력하세요:".format(i+1)))
    collect_list.append(input("{}번째 사람의 성별을 입력하세요:".format(i+1)))
    collect_list.append(input("{}번째 사람의 나이를 입력하세요:".format(i+1)))

    info_list.append(collect_list)


print(info_list)

print("이름 주소 성별 나이")

몇명을 넣으시겠습니까? 1
1번째 사람의 이름을 입력하세요: d
1번째 사람의 주소를 입력하세요: d
1번째 사람의 성별을 입력하세요: d
1번째 사람의 나이를 입력하세요: d

[['d', 'd', 'd', 'd']]
이름 주소 성별 나이